body {
    margin: 2% 5%;
    color: #C0C0C0;
    background-color: #0F0F0F;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

article {
    max-width: 25cm;
    margin: auto;
}

h1 {
    text-align: center;
    color: #D0D0D0;
    font-size: 2rem;
}

a {
    color: #24F4AF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    border-bottom: solid 1px;
    border-bottom-color: #A1A1A1;
    margin-bottom: 30px;
    position: relative;
}

header h1 {
    display: inline;
    margin-right: 3%;
}

header h1 a {
    color: #E0E0E0;
    font-size: xxx-large;
}

header h1 a:hover {
    color: #24F4AF;
    text-decoration: none;
}

header a {
    margin-right: 2%;
    font-size: x-large;
}

#feed-icon {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    width: 1rem;
    height: 1rem;

    /* from black to #E0E0E0 */
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(250deg) brightness(91%) contrast(92%);
}

#feed-icon:hover {
    /* from black to #24F4AF; */
    filter: invert(89%) sepia(48%) saturate(689%) hue-rotate(80deg) brightness(88%) contrast(119%);
}

.article-list-item {
    list-style: none;
}

.article-list-item a {
    color: #C0C0C0;
    font-size: x-large;
    font-family: monospace;
}

.date {
    margin-right: 2%;
    color: #808080;
    font-size: x-large;
    font-family: monospace;
}

footer {
    margin-top: 5rem;
    text-align: center;
    font-size: small;
}

h2 {
    margin-top: 5rem;
}

h3 {
    margin-top: 3rem;
}

:not(pre) > code {
    background-color: #252525;
    padding: 1px 4px;
    border-radius: 3px;
}

pre {
    margin: 0 1.5rem 0 1rem;
    padding: 0.5rem;
    overflow-x: auto;
    background-color: #191919;
    border-radius: 5px;
}

blockquote {
    border-left: 5px solid #D0D0D0;
    background-color: #191919;
    padding: 0.1rem 1rem;
}

.footnotes {
    margin-top: 3rem;
    font-size: .9rem;
}

#comments {
    font-size: 1rem;
}

/* pandoc code block highlighting (breezedark threme) */
code span { color: #cfcfc2; } /* Normal */
code span.al { color: #95da4c; background-color: #4d1f24; font-weight: bold; } /* Alert */
code span.an { color: #3f8058; } /* Annotation */
code span.at { color: #2980b9; } /* Attribute */
code span.bn { color: #f67400; } /* BaseN */
code span.bu { color: #7f8c8d; } /* BuiltIn */
code span.cf { color: #fdbc4b; font-weight: bold; } /* ControlFlow */
code span.ch { color: #3daee9; } /* Char */
code span.cn { color: #27aeae; font-weight: bold; } /* Constant */
code span.co { color: #7a7c7d; } /* Comment */
code span.cv { color: #7f8c8d; } /* CommentVar */
code span.do { color: #a43340; } /* Documentation */
code span.dt { color: #2980b9; } /* DataType */
code span.dv { color: #f67400; } /* DecVal */
code span.er { color: #da4453; text-decoration: underline; } /* Error */
code span.ex { color: #0099ff; font-weight: bold; } /* Extension */
code span.fl { color: #f67400; } /* Float */
code span.fu { color: #8e44ad; } /* Function */
code span.im { color: #27ae60; } /* Import */
code span.in { color: #c45b00; } /* Information */
code span.kw { color: #cfcfc2; font-weight: bold; } /* Keyword */
code span.op { color: #cfcfc2; } /* Operator */
code span.ot { color: #27ae60; } /* Other */
code span.pp { color: #27ae60; } /* Preprocessor */
code span.re { color: #2980b9; background-color: #153042; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #da4453; } /* SpecialString */
code span.st { color: #f44f4f; } /* String */
code span.va { color: #27aeae; } /* Variable */
code span.vs { color: #da4453; } /* VerbatimString */
code span.wa { color: #da4453; } /* Warning */
