<article>
    <h1>About me</h1>

    </p>
        I'm a Computer Science MSc student at the University of Pisa, with a
        growing interest in theory and practice of programming languages (read:
        compilers on paper, and compilers on metal 😉).
    </p>
    <p>
        I'm also fascinated by HCI, the kind of Doug Engelbart and Bret Victor,
        but I think I'll set aside the topic for another life.
    </p>
    <p>
        My public forges:
        <a rel="me" href="https://codeberg.org/dalz">Codeberg</a>
        (where I publish personal projects),
        <a rel="me" href="https://gitlab.com/dalz">Gitlab</a>,
        <a rel="me" href="https://github.com/dalz">Github</a>
        (for contributions).
    </p>

    <h2>Contacts</h2>
    <ul>
        <li>
            email:
            <a rel="me" href="mailto:blog@alsd.eu">blog@alsd.eu</a>
        </li>
        <!-- <li>
             Matrix:
             <a rel="me" href="matrix:u/dalz:alsd.eu">dalz:alsd.eu</a>
             </li> -->
        <li>
            fediverse:
            <a rel="me" href="https://fedi.alsd.eu/u/dalz">@dalz@fedi.alsd.eu</a>
        </li>

        <li>
            linkedin:
            <a rel="me" href="https://linkedin.com/in/aledue">Alessio Duè</a>
        </li>
    <ul>
</article>
