<center>
    <p id="comments">
        <i>Comments? Send them to
        <a href="mailto:blog@alsd.eu?subject=Re: %title%">blog@alsd.eu</a>!</i>
        <br>Back to the <a href="/en">article list</a>.
    </p>
</center>
